h1{
    background-color: rgb(218, 139, 87);
    font-size: 250%;
}


body{
    background-color: rgba(255, 152, 17, 0.384);
}

h1{
    font-family: arial;
}

*{
    text-align: center;
}

li{
    width: fit-content;
    margin: auto;
}

img{
    height: 400px;
    width: 700px;
}

ul {
    margin: 2px;
    font-size: 130%;
}

div{
    margin: 4px auto;
    padding: 10px;
    width: fit-content;
    /* height: 70px; */
    
}

ol{
    margin: 30px 7px;
    font-size: 130%;
    
}

/* img{
    border-right: 4px dashed black;
    border-top: 5px solid yellow;
    border-left: 4px double blue;
    border-bottom: 30px dotted green
} */

img{ 
    border: 4px solid rgb(0, 0, 0);
    margin: 30px;
    border-radius: 40px 40px;

    /* padding: 1px; */
}

/* body{
    border: 2px solid black;
    margin: 10px;
} */


#modo{
    /* border: 4px solid black; */
    font-size: 155%;
}


h3{
    font-size: 160%;
}

/* div{
    background-image: url('../img/Receitas-Saudaveis-__para-Todos-os-Dias-Nutricao-e-Sabor-em-Cada-Refeicao.webp');
    height: 200vh;
    width: 60vw;
    /* background-position: center;
 }  */
    


